<div class="title-container">
  <h1>
    Welcome on this account management website !
  </h1>
</div>
<div class="home-grid">
  <div class="texte">
    <p>
      This website will allow you to have an account with your personnal data and to manage it.
      After creating your account, you can add some groceries to your shopping list. in your own list.
    </p>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space">
    <div class="image-wrapper">
      <img src="assets/Microsoft-Azure.png" alt="logo Azure" class="azure-logo"/>
    </div>
  </div>
  <div class="texte">
    <p>
      First of all, let's connect or create an account by clicking on the buttons on the top.
      Then, you can manage your account by clicking on the "Profile" button. These information will only be seen by you.
    </p>
  </div>
  <div class="texte">
    <p>
      All your data will be secured on our Azure database server. You can also delete your account by clicking on the "Delete" button inside the profile menu.
    </p>
  </div>
  <div class="empty-space"></div>
</div>
